.description {
    border-radius: 5px;
    background-color: rgb(231, 211, 173);
    width: auto;
    height: auto;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
}
.details {
    border-radius: 5px;
    background-color: rgb(233, 229, 221);
    width: 300px;
    height: auto;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
}