body {
    background: url(../images/background3.jpeg) repeat fixed ;
    /* background-color: blanchedalmond; */
    width: 1200px;
    margin: auto;
  }
/* #cat-bg {
    background: url(baskground.jpg) repeat fixed;
} */
#mainfield
{
  display: flex;
  justify-content: space-between;
}
#logo {
    
    border-radius: 5px;
    background-color: burlywood;
    width: 100%;
    margin: auto;
    height: 50px;
    position: relative;
    text-align: center;
    font: italic;
    font-size: 50px; 
    color: azure;
}
#infofield {
    padding: 20px;
    background-color: ivory;
    width: auto;
    position: relative;
    width: 1000px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 50px;
    height: 100%;
    min-height: 250px;
    border-radius: 5px;
    border:2px;
    border-style: outset;
    border-color: rgb(224, 169, 96);
}
#menu {
    border-radius: 5px;
    background-color: ivory;
    width: 250px;
    height: 100%;
    position: relative;
    top: 10px;
    border:2px;
    border-style: outset;
    border-color: rgb(224, 169, 96);

}
.button:hover{background-color: rgb(185, 231, 185);}
.button {
  
  position: relative;
  margin: 10px;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  background-color: lightgreen; 
  /* border: none; */
  color: white;
  padding: 1px 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
}
/* .servicebutton:hover{background-color: rgb(185, 231, 185);}
.servicebutton{
  position: relative;
  margin: 10px;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  background-color: lightgreen; 
  color: white;
  padding: 1px 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
} */

  h1 {
    color: navy;
    margin-left: 20px;
  }